@import '../../App.scss';

.searchWidget__wrapper{
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.searchWidget{
    display: flex;
    align-items: center;
    background-color: $thirdGrey;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid $thirdGrey;
}

.searchWidget .MuiSvgIcon-root{
    color: $thirdBlack;
    font-size: 2rem;
}

.searchWidget.beingPressed{
    border: 1px solid $mainGreen;
    background: white;
}

.searchWidget > input {
    border: 1px solid var(--twittie-background);
    outline: none;
    width: 100%;
    background-color: var(--twittie-background);
}

.searchWidget.beingPressed>input{
    background-color: white;
    border:1px solid white;
}

.searchWidget.beingPressed .MuiSvgIcon-root{
    color: $mainGreen;
}
