@import '../../colors.scss';

.MuiFormLabel-root.Mui-focused{
    color: $secondGreen !important
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $secondGreen !important;
}

.MuiFormLabel-root{
    font-size: 1.6rem !important;
}

.MuiOutlinedInput-input {
    padding: 2rem 1.4rem;
}

// .select {
    .MuiMenuItem-root{
        font-size: 1.6rem !important;
    }
// }

// .MuiInputLabel-outlined {
//     transform: translate(14px, 16px) scale(1) !important;
// }

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(5px, -13px) scale(0.75) !important;
}

.MuiFormLabel-root{
    color: $mainBlack
}